.card{
  min-width: 14rem;
  min-height: 20rem;
  background: linear-gradient(hsl(26.5, 97.6%, 67.3%), white 6.55rem);;
  border-radius: 19px;
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  -webkit-box-shadow: 9px 9px 28px 0px #000000;
  box-shadow: 9px 9px 28px 0px #000000;
}

ul{
  list-style: none;
}