.homePage{
  background: linear-gradient(hsl(26.5, 97.6%, 67.3%), white 6.55rem);
  display:flex;
  justify-content: center;
}

.upper-box{
  position: absolute;
}

.title{
  position: absolute;
  text-align: center;
}

.locationButton{
  position: relative;
  top: 120px;
  width: 150px;
}

.lower-box{
  position: absolute;
  top: 290px;
}

.map {
  position: relative;
  text-align: center;
}

.markerButton{
  position: relative;
  top: 200px;
  width: 150px;
}