.homePage{
  height:100%;
  display:flex;
  justify-content: center;
}

.title{
  position: absolute;
  justify-content: center;
  width: 192px;
  color: white;
}

.lower-box{
  position: relative;
  width: 90%;
  height: 91vh;
}

.map {
  position: relative;
  top: 1rem;
}