.medDog {
  background: linear-gradient(hsl(26.5, 97.6%, 67.3%), white 6.55rem);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.titleMeddog{
  position: absolute;
  justify-content: center;
}

.calendar{
  position: relative;
  top: 135px;
}

