.medDog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom:0;
}

p{
  margin: 0;
  margin-bottom: 1rem;
  font-size: small;
}

